@import "~styles/variables";

.MenuItemList {
  position: absolute;
  top: 11px;
  left: -100%; // Default, gets overwritten by JS
  transition: left .5s;
  z-index: 1;
  margin: 0;
  padding: 0 0 0 2rem;
  list-style: none;
  background-color: @color-background;
}

.MenuItemList--open {
  left: 0; // Default, gets overwritten by JS (but will still be 0)
}

.MenuItem {
  float: left;
  margin-right: .5rem;
}

.MenuItem-link {
  color: @frontrain-green;
}
